.container{
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 70px;
    justify-content: center;
    margin: 0;
    max-width: none;
    padding: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 999;
}
.topHR{
    background-color: black;
    height: 2px;
    margin: 5px 0;
    position: absolute;
    width: 100%;
   top:0px;
}
.bottomHR{
    background-color: black;
    bottom:0px;
    height: 2px;
    margin: 5px 0;
    position: absolute;
    width: 100%;
}
.text{

}