.textGroup{
    background-color: transparent;
    flex: 1;
}
.label{
    
}
.control{
    border-radius: 3px;
    background-color: transparent;
    width: 100%;
    height: 28px;
    border: 1px solid rgb(45, 45, 45);
}