.mainContainer{
    height: calc(100vh / 2.5);
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    color: black;
    

}
.mainContainer::-webkit-scrollbar{
    width: 5px}
.mainContainer::-webkit-scrollbar-thumb{
    background-color: cyan;
    border-radius: 20px;
}
.textInput{
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex: 1;
    background-color: rgb(224, 222, 222);

}

.all{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.buttonContainer{
    width: 55px;
    height: 25px;
    margin: 37px 5px 30px;
    display: flex;
    font-size: .9rem;
    overflow: hidden;
    display: inline-flex;
    flex: 1;

}
.submitButton{
    background-color: rgb(53, 91, 197) !important;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.messageBar{
    flex: 5;



}
.bottomSection{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(224, 222, 222);
}

