.mainContainer{
    height: 300px;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
    border: solid 1px black;

}
.mainContainer::-webkit-scrollbar{
    width: 5px}
.mainContainer::-webkit-scrollbar-thumb{
    background-color: cyan;
    border-radius: 20px;
}
.textInput{
    padding: 0 30px;
    display: flex;
    align-items: center;
    flex: 1;
}
/* .send{
    font-size: 12px;
    background-color: rgb(0, 102, 128);
    color: white;
    height: 20px;
    margin: 37px 5px 30px;
    padding: 0 10px;
    border-radius: 14px;
    align-items: center;
    display: flex;
    cursor: pointer;
} */
.all{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.buttonContainer{
    width: 50px;
    height: 20px;
    margin: 37px 5px 30px;
    display: flex;
    font-size: 12px;
    overflow: hidden;
}
.messageBar{
    width: 100%;
}

