.container{
    display: flex;
    width: 100%;
    height: 90px;
    padding: 0 1.5rem;
    margin: 0;
    max-width: none;
    background-color: black;
    color: white;
    align-items: center;
}
.logo{
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}
.toggleBtn{
    z-index: 2;
}
.leftLinksGroup{
    display: flex;
    z-index: 2;
}
.rightLinksGroup{
    display: flex;
    z-index: 2;
}
.links{
    cursor: pointer;
    margin: 1rem;
    z-index: 2;
}
.secondContainer{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    z-index: 2;
}