.mainContainer{
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentContainerBackground{
    background-color: white;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    z-index: 900;
}
.contentContainer{
    padding:30px;
}
.logoContainer{
    background-color: black;
    display: inline-flex;
    overflow: hidden;
}
.logo{
    display: inline-flex;
    overflow: hidden;
}
.textInputContainer{
}
.submitButton{
    background-color: black !important;
    color: white !important;
    transition: .5s;
}
.submitButton:hover{
    transform: scale(1.05);
}