body{
    margin: 0px
}
.mainContainer{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black; 
    overflow: hidden;
    position: relative;    
}
.logoContainer{
    display: inline;
    margin-top: 50px;
    overflow: hidden;
    z-index: 0;
}
.buttonContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 5vh 0 0;
    width: 100%;
    z-index: 2;
}
.button{
    height: 40px;
}
.authButtonContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    z-index: 2;
}
.button{
    margin: 30px;
    width: 100%;
    max-width: 350px;
    z-index: 2;
}
.glow{
    width: 120%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    box-shadow:
   inset 0 0 140px 10px #0ff, /* outer cyan */
    inset 0 0 50px 10px #f0f, /* middle magenta */
   inset 0 0 60px 20px black;  /* inner white */
}
.marble{
    width: 120%;
    height: 150%;
    position: absolute;
    border-radius: 50%;
    background-color: black;
    box-shadow:
      inset 0 0 10px black,      /* inner white */
      inset 10px 0 20px #f0f,   /* inner left magenta short */
      inset -20px 0 30px #0ff,  /* inner right cyan short */
      inset 20px 0 30px #f0f,  /* inner left magenta broad */
      inset -20px 0 30px #0ff, /*inner right cyan broad
      0 0 50px #fff,            /* outer white */
      -10px 0 80px #f0f,        /* outer left magenta */
      10px 0 80px #0ff;         /* outer right cyan */
}
.title{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 50px  200px 0;
    align-items: center;
    z-index: 1;

}
