.appButton{
    background-color: darkred;
}
.previousPicks{
    height: 80vh;
    width: 20vw;
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currentPlace{
    height: 20vh;
    width: 40vw;
    background-color: black;
    color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.currentPicks{
    height: 80vh;
    width: 20vw;
    background-color: brown;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.parentDiv{
    width: 100pc;
    height: 700px;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end; 
}